<%- include('../partials/header') %>

<h2>Enter a New Event</h2>
<form action="/events" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>When is the event:
    <input type="datetime-local" name="date">
  </label><br>
  <label>Location:
    <input type="text", name="location">
  </label><br>
  <button type="submit">Add Event</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>