<%- include('../partials/header') %>
<h2>This is tha page to add contacts</h2>

<h2>Enter a New Contact</h2>
<form action="/contacts" method="POST">
  <label>Name:
    <input type="text" name="name">
  </label><br>
  <label for="phone">Phone Number:</label>
    <input type="text" id="phone" name="phone" pattern="\d{10}" required>
  </label><br>
  <label>email:
    <input type="text", name="email">
  </label><br>
  <button type="submit">Add Contact</button>
</form>


<%- include('../partials/footer') %>